{{#each this}}
<p class="countries__name">{{this.name}}</p>
<div class="flex-center-wrap countries__wrap">
  <div class="countries__info-wrap">
    <p class="countries__capital"><span class="sub-title">Capital: </span>{{this.capital}}</p>
    <p class="countries__population"><span class="sub-title">Population: </span>{{this.population}}</p>
    <ul class="list countries__languages-list"><span class="sub-title">Languages: </span>
    {{#each languages}}
      <li class="countries__languages-item">{{name}}</li>
    {{/each}}
    </ul>
  </div>
  <img class="countries__flag" src="{{this.flag}}" alt="Flag of {{this.name}}">
</div>
{{/each}}